* {
    box-sizing: border-box;
  }
  
.box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }

.box > div{
    border: 5px solid black;
    padding: 20px 0;
    text-align: center;
}

.rollbtn {
  position: relative;
  top: 90px;
  font-size: 30px;
  border: 5px solid black;
  padding: 5px;
}

.row2{
  columns: 500px;
}

.slot {
  font-size: 20px;
}

.row3 {
  font-size: 30px;
}