* {
    box-sizing: border-box;
  }
  
.box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }

.box > div{
    border: 5px solid black;
    padding: 20px 0;
    text-align: center;
}

.mid{
  columns: 500px;
}